<div class="order-detail" *ngFor="let order of orders">
  <h3>Order ID: {{ order.id }}</h3>
  <p>Name: {{ order.name }}</p>
  <p>Email: {{ order.email }}</p>
  <p>Address: {{ order.address }}</p>
  <p>Pincode: {{ order.pincode }}</p>
  <p>Contact: {{ order.contact }}</p>
  <p>Total Price: ₹{{ order.totalPrice }}</p>
  <p>User ID: {{ order.userId }}</p>
  <p>Order Status: {{ order.orderStatus }}</p>
  <p>Items: {{ order.items }}</p>

  <p *ngIf="deliveryMessageMap.get(order.id)" style="color: green;">{{ deliveryMessageMap.get(order.id) }}</p>

  <select *ngIf="!deliveryMessageMap.get(order.id)" [(ngModel)]="selectedStatus">
    <option *ngFor="let status of orderStatusOptions" [value]="status">{{ status }}</option>
  </select>

  <button *ngIf="!deliveryMessageMap.get(order.id) && order.orderStatus !== 'Delivered'" class="form-button-update"
    (click)="updateOrderStatus(order.id)">Update Status</button>
  <hr>
</div>