<div class="my-orders">
    <h1>My Orders</h1>
    <div class="row">
        <div class="col-sm-2">
            <span>Orders</span>
        </div>
        <div class="col-sm-2">
            <span>Order Id</span>
        </div>
        <div class="col-sm-2">
            <span>Price</span>
        </div>
        <div class="col-sm-2">
            <span>Status</span>
        </div>
        <div class="col-sm-2">
            <span>Action</span>
        </div>
    </div>
    <div class="row" *ngFor="let order of orderData">
        <div class="col-sm-2">
            <img class="order-img" src="https://cdn-icons-png.freepik.com/512/4379/4379581.png" alt="">
        </div>
        <div class="col-sm-2">
            <span>{{order.id}}</span>
        </div>
        <div class="col-sm-2">
            <span>₹{{order.totalPrice}}</span>
        </div>
        <div class="col-sm-2">
            <span>{{order.orderStatus}}</span>
        </div>
        <div class="col-sm-2">
            <!-- Conditionally display buttons based on order status -->
            <ng-container *ngIf="order.orderStatus !== 'delivered'; else feedbackButton">
                <button class="form-button-order" (click)="cancelOrder(order.id)">Cancel Order</button>
            </ng-container>
            <ng-template #feedbackButton>
                <button class="form-button-order" [routerLink]="'/footer/feedback'">Leave Feedback</button>
            </ng-template>
        </div>
    </div>
</div>
